@model LocadoraCarros.Application.DTO.AluguelDTO

@{
    ViewData["Title"] = "Register new Category";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
       
         <div class="form-group">
            <label asp-for="DataInicio" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
        </div>  
         <div class="form-group">
            <label asp-for="DataFim" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
        </div>   
    <div class="form-group">
            <label asp-for="ValorAluguel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ValorAluguel" class="form-control" />
                <span asp-validation-for="ValorAluguel" class="text-danger"></span>
            </div>
        </div>      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </div>
    </div>
</form>